footer {
	text-align: center;
	background: #FAE3E0;
	padding: 2% 0;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 2px;
	clear: both;
	font-size: 12px;
	text-transform: uppercase;
	border-top: 2px white solid;
}